# MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017/soc_alerts_db

# JWT Secret (CHANGEZ CETTE VALEUR EN PRODUCTION)
JWT_SECRET=votre_secret_jwt_super_securise_changez_moi_123456

# Port serveur
PORT=3001

# Frontend URL (pour CORS)
FRONTEND_URL=http://localhost:5173

# ML Service (Python Flask)
ML_API_URL=http://127.0.0.1:5000

# Email (Nodemailer - Gmail exemple)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=votre-email@gmail.com
SMTP_PASSWORD=votre-mot-de-passe-application

# Admin par défaut
ADMIN_EMAIL=admin@soc-tunisietelecom.tn

# Environment
NODE_ENV=development

# Surveillance automatique (true/false)
ENABLE_AUTO_MONITORING=true
